// base classes
.alignnone {
  margin: 1em 1em 1em 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: .5em auto;
}

.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

.aligncenter {
  display: block;
  margin: 1em auto;
}

.round-corners {
  @include border-radius($radius);
}

.round-right-corners {
  @extend .round-corners;
  @extend .clear-left-rounding;
}

.round-left-corners {
  @extend .round-corners;
  @extend .clear-right-rounding;
}

.round-top-corners {
  @extend .round-corners;
  @extend .clear-bottom-rounding;
}

.round-bottom-corners {
  @extend .round-corners;
  @extend .clear-top-rounding;
}

.hover-underline {
  @extend .clear-underline;
  &:hover {
    text-decoration: underline;
  }
}
