#page {
    @extend .clearfix;
    width: $inner-width;
    margin: 0 auto;
  	padding: $page-pad;
}

#page #sidebar {
    width: $side-width;
	float: left;
	padding-right: $page-pad;
}

#page #main {
    width: $main-width;
	float: left;
}

#header {
  @extend .clearfix;
  width: $page-width;
  margin: 0 auto;
  padding-top: 40px;
}

#footer {
    width: $page-width;
    margin-right: auto;
    margin-left: auto;
	text-align: right;
}
