#page {
  .post {
	  @extend .clearfix;
	@include trailing-border(1px, 4, 18px, solid);
	padding-top: 30px;
    border-color: $brand-color;
    &:first-child {
      padding-top: 0;
    }
    &.single .entry-content {
      border-bottom: 1px dashed $brand-color;
    }
	header .wp-post-image {
		max-width: 180px;
		height: auto;
		float: left;
		@include rhythm(0, 0, 0, 0, 16px);
		@include rhythm-borders(1px, 1, 16px, solid);
		margin-right: 15px;
		border-color: $function-color;
		background: $white;
	}
    #{headings(1, 6)} {
      color: $function-color-darker;
    }
    h1 {
		@include rhythm(1, 0, 1, 0, 32px);
	    @include adjust-font-size-to(32px);
      a {
        color: $brand-color-dark;
      }
      &:hover {
        color: $brand-color-light;
        a {
          color: $brand-color-dark;
        }
      }
    }
	p {
	    @include adjust-font-size-to(18px);
		@include rhythm(0, 0, 2, 0, 18px);
	}
  }
.comments-area {
  border-top: 1px dashed $function-color;
  padding-top: 2em;
  ol.commentlist {
    list-style: none;
    margin: 0 0 .6em;
    padding: 0;
    text-indent: 0;
    li {
      &.alt!, &.bypostauthor!, &.byuser!, &.comment-author-admin! {}
      &.comment {
        border-bottom: 1px dotted $function-color-darker;
        padding: 1em;
        .vcard {
		  @extend .sans-font;
			@include rhythm(0, 0, 0, 1, 14px);
          @include adjust-font-size-to(14px);
		  font-weight: 400;
          cite.fn {
            font-style: 600;
            a.url! {}
          }
          img {
            &.avatar {
              border: 5px solid $function-color-dark;
              float: right;
              margin: 0 0 .6em 1em;
            }
            &.avatar-32!, &.photo! {}
          }
          span.says! {}
        }
        .comment-meta a {
          color: $function-color-dark;
        }
        p {
          @include adjust-font-size-to(10px);
  		@include rhythm(0, 0, 0, 1, 10px);
        }
        ul {
          @include adjust-font-size-to(10px);
          list-style: square;
  		@include rhythm(0, 0, 0, 1, 10px);
        }
        div.reply {
          @include adjust-font-size-to(11px);
		  text-align: right;
          a {
            font-weight: bold;
          }
        }
        ul.children {
          list-style: none;
          margin: 1em 0 0;
          text-indent: 0;
          li {
            &.alt!, &.bypostauthor!, &.byuser!, &.comment!, &.comment-author-admin! {}
            &.depth-2 {
              border-left: 5px solid $function-color;
              margin: 0 0 .25em .25em;
            }
            &.depth-3 {
              border-left: 5px solid $function-color-dark;
              margin: 0 0 .25em .25em;
            }
            &.depth-4 {
              border-left: 5px solid $function-color-darker;
              margin: 0 0 .25em .25em;
            }
            &.depth-5!, &.odd! {}
          }
        }
      }
      &.even {
        background: $white;
      }
      &.odd {
        background: $function-color;
      }
      &.parent {
        border-left: 5px solid $function-color-dark;
      }
      &.thread-alt!, &.thread-even!, &.thread-odd! {}
    }
  }
}
form#commentform {
  label {
    width: 200px;
	display: inline-block;
	.required {
		color: $alert-color;
	}
  }
  textarea, input[type=text], , input[type=email], input[type=password] {
    padding: 4px 6px;
    width: 350px;
	border: 1px solid $function-color-dark;
	float: right;
	&:focus {
		border-color: $alert-color;
		background: $function-color;
	}
  }
  textarea {
	  height: 46px;
	  clear: both;
  }
  input[type=submit] {
	@include button($brand-color, $action-color-lighter);
  }
}

p.subscribe-to-comments, .comment-rss {
  height: 32px;
  text-indent: 42px;
  padding: 5px 0 0;
}

p.subscribe-to-comments {
  input {
    margin: 5px 3px 3px !important;
    border: 0;
    outline: 0;
  }
  label {
    top: -2px;
    color: #666;
  }
}
   .entry-meta {
    @include adjust-font-size-to(14px);
	@include rhythm(0, 1, 0, 1, 14px);
    .edit-link {
      float: right;
      color: desaturate(darken($brand-color, 30), 15);
      text-decoration: none;
      &:hover {
        background: none;
        color: desaturate(darken($brand-color, 50), 15);
      }
    }
	.author-info {
		@include rhythm(1, 1, 1, 1, 14px);
		padding: 20px;
	    @include adjust-font-size-to(14px);
	    background: $brand-color;
	    @include border-radius(3px);
	    @include box-shadow(darken($brand-color, 5), 1px, 1px, 1px);
		.author-avatar {
			float: left;
			@include rhythm(0, 1, 0, 1, 14px);
			background: $white;
			border: 1px solid $function-color;
		}
		.author-description {
			float: right;
			width: 460px;
			p {
				@include rhythm(0, 1, 0, 1, 14px);
			}
		}
	}
  }
  .more-link {
    @extend .heading-font;
    @include adjust-font-size-to(13px);
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: "\FFEB";
      padding-left: 5px;
    }
  }
  .navigation {
    @extend .clearfix;
    padding-top: 1em;
    @extend .heading-font;
	.section-heading {
	    @include adjust-font-size-to(15px);
		@include rhythm(0, 0, 0, 0, 15px);
	}
    .nav-next, .nav-previous {
      a {
	    @include adjust-font-size-to(15px);
        color: $function-color-darker;
        text-decoration: none;
        &:hover {
          color: $brand-color-dark;
        }
      }
    }
    .nav-next {
      display: inline-block;
      float: right;
      a:after {
        content: "\FFEB";
        padding-left: 5px;
      }
    }
    .nav-previous {
      display: inline-block;
      float: left;
      a:before {
        content: "\FFE9";
        padding-right: 5px;
      }
    }
  }
  .page-numbers {
      @extend .navigation;
	  li {
		  list-style-type: none;
		  float: left;
	  }
  }
  .page-links {
      @extend .navigation;
  }
}
