#page {
  .post {
    padding: 2.5em 0;
    border-bottom: 1px solid $body-bg;
    &:first-child {
      padding-top: 0;
    }
    &.single .entry-content {
      padding-bottom: 2em;
      border-bottom: 1px dashed $body-bg;
    }
    #{headings(2, 6)} {
      color: #444444;
    }
    h2 {
      a {
        color: #333333;
      }
      &:hover {
        color: $link-color;
        a {
          color: $link-color;
        }
      }
    }
  }
.comments-area {
  border-top: 1px dashed white;
  padding-top: 2em;
  ol.commentlist {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    text-indent: 0;
    li {
      &.alt!, &.bypostauthor!, &.byuser!, &.comment-author-admin! {}
      &.comment {
        border-bottom: 1px dotted #666;
        padding: 1em;
        .vcard {
		  @extend .sans-font;
          font-size: 16px;
		  font-weight: bold;
          cite.fn {
            font-style: normal;
            a.url! {}
          }
          img {
            &.avatar {
              border: 5px solid #ccc;
              float: right;
              margin: 0 0 1em 1em;
            }
            &.avatar-32!, &.photo! {}
          }
          span.says! {}
        }
        .comment-meta a {
          color: #ccc;
        }
        p {
          font-size: 1em;
          margin: 0 0 1em;
        }
        ul {
          font-size: 1em;
          list-style: square;
          margin: 0 0 1em 2em;
        }
        div.reply {
          font-size: 11px;
		  text-align: right;
          a {
            font-weight: bold;
          }
        }
        ul.children {
          list-style: none;
          margin: 1em 0 0;
          text-indent: 0;
          li {
            &.alt!, &.bypostauthor!, &.byuser!, &.comment!, &.comment-author-admin! {}
            &.depth-2 {
              border-left: 5px solid #555;
              margin: 0 0 .25em .25em;
            }
            &.depth-3 {
              border-left: 5px solid #999;
              margin: 0 0 .25em .25em;
            }
            &.depth-4 {
              border-left: 5px solid #bbb;
              margin: 0 0 .25em .25em;
            }
            &.depth-5!, &.odd! {}
          }
        }
      }
      &.even {
        background: #fff;
      }
      &.odd {
        background: #f6f6f6;
      }
      &.parent {
        border-left: 5px solid #111;
      }
      &.thread-alt!, &.thread-even!, &.thread-odd! {}
    }
  }
}
  .entry-meta {
    padding: 0.2em 0.8em;
    margin: 0.8em -0.4em 1em;
    .edit-link {
      float: right;
      color: desaturate(darken($body-bg, 30), 15);
      text-decoration: none;
      &:hover {
        background: none;
        color: desaturate(darken($body-bg, 50), 15);
      }
    }
	.author-info {
	    padding: 0.8em;
	    margin-top: 0.8em;
	    background: $body-bg;
	    @include border-radius(3px);
	    @include box-shadow(darken($body-bg, 5), 1px, 1px, 1px);
		.author-avatar {
			float: left;
			padding: 5px;
			background: #fff;
			border: 1px solid #f8f8f8;
		}
		.author-description {
			float: right;
			width: 460px;
		}
	}
  }
  .more-link {
    @extend .heading-font;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: "\FFEB";
      font-size: 1.3em;
      padding-left: 5px;
    }
  }
  .navigation {
    @extend .clear;
    padding-top: 1em;
    @extend .heading-font;
    .nav-next, .nav-previous {
      a {
        color: #888888;
        text-decoration: none;
        &:hover {
          color: $link-color;
        }
      }
    }
    .nav-next {
      display: inline-block;
      float: right;
      a:after {
        content: "\FFEB";
        font-size: 1.5em;
        padding-left: 5px;
      }
    }
    .nav-previous {
      display: inline-block;
      float: left;
      a:before {
        content: "\FFE9";
        font-size: 1.5em;
        padding-right: 5px;
      }
    }
  }
  .page-numbers {
      @extend .navigation;
	  li {
		  list-style-type: none;
		  float: left;
	  }
  }
}
