html, body {
  background-color: rgba( tint($brand-color-lighter, 90%), .5);
  color: $function-color-darker;
}

a {
  color: $alert-color-darker;
  text-decoration: none;
  &:hover {
    color: $alert-color-light;
    text-decoration: underline;
  }
}

:-moz-placeholder {
  color: $function-color;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: $function-color;
  font-weight: 200;
  line-height: 14px;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.header h1 {
  text-align: center;
  a {
    @extend .heading-font;
    @include adjust-font-size-to(70px);
    @include rhythm(2, 4, 2, 4);
    font-weight: 900;
    @include text-shadow(1px, 1px, 1px, $white);
    color: $brand-color;
    &:hover {
      color: $brand-color-lighter;
      text-decoration: none;
    }
  }
}

.header h2 {
  color: $brand-color-dark;
  @include adjust-font-size-to(32px);
  @include rhythm(1, 0, 1, 0);
  @include text-shadow(1px, 1px, 1px, $white);
}

.content {
  @extend .clearfix;
  background: $white;
  border: 1px solid rgba(tint($function-color-darker, 1%), .2);
  @extend .round-corners;
  @include box-shadow(darken($brand-color-darker, 30%), 0, 2px, 15px);
  .nav-menu {
    li {
      a {
        color: $alert-color;
        .active {
          color: $alert-color-dark;
        }
      }
    }
  }
  @include background-clip(padding-box);
}

.footer {
  @include adjust-font-size-to(12px);
  color: $brand-color-darker;
  a {
    color: desaturate(darken($brand-color-darker, 60), 28);
    text-decoration: underline;
    &:hover {
      color: desaturate(darken($brand-color-darker, 10), 28);
      text-decoration: none;
    }
  }
}
