html, body {
  background-color: $brand-color;
  color: $function-color-darker;
}

#header h1 {
  a {
    @extend .h1-font;
    text-decoration: none;
    color: $brand-color-dark;
    @include adjust-font-size-to(48px);
	@include rhythm(3, 1, 0, 2, 48px);
    @include text-shadow(white, 1px, 1px, 1px);
  }
  text-align: center;
  & + p {
    color: $brand-color-light;
    @include adjust-font-size-to(22px);
    text-align: center;
  }
}

#page {
  background: $white;
  //@include debug-vertical-alignment();
  border: $page-border solid rgba($brand-color-dark, .7);
  @include background-clip(padding-box);
  @extend .round-corners;
  @include box-shadow(darken($brand-color-darker, 30%), 0, 2px, 15px);
  a {
    color: $alert-color-darker;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#footer {
  @include adjust-font-size-to(12px);
  @include rhythm(3, 1, 0, 2, 12px);
  color: desaturate(darken($brand-color, 20), 28);
  a {
    color: desaturate(darken($brand-color, 28), 28);
    text-decoration: underline;
    &:hover {
      color: desaturate(darken($brand-color, 40), 28);
    }
  }
}
