.sans-font {
  font-family: $sans-serif;
}

.serif-font {
  font-family: $serif;
}

.fixed-font {
  font-family: $monospace;
}

.heading-font {
  @extend .sans-font;
  font-style: normal;
  font-weight: 400;
}

.h1-font {
  @extend .heading-font;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

// Establish Vertical rhythm.
@include establish-baseline;

html {
	// Override the default line height to allow for smaller baseline increments.
	@include adjust-leading-to(4);
}

body {
  @extend .sans-font;
}

p {
  margin: 0 0 rhythm(2);
}

#{headings(2, 6)} {
  @extend .heading-font;
}

h6 {
    @include adjust-font-size-to($fs-h6);
    @include rhythm(4, 0, 0, 0, $fs-h6);
	letter-spacing: .03em;
	text-transform: uppercase;
}

h5 {
    @include adjust-font-size-to($fs-h5);
    @include rhythm(4, 0, 0, 0, $fs-h5);
}

h4 {
    @include adjust-font-size-to($fs-h4);
    @include rhythm(4, 0, 0, 0, $fs-h4);
}

h3 {
    @include adjust-font-size-to($fs-h3);
    @include rhythm(2, 0, 0, 2, $fs-h3);
}

h2 {
    @include adjust-font-size-to($fs-h2);
    @include rhythm(0, 0, 0, 1, $fs-h2);
}

h1 {
	@include adjust-font-size-to($fs-h1);
	@include rhythm(0, 0, 0, 1, $fs-h1);
}

h1.entry-title, .author-description h2 {
    @include adjust-font-size-to($fs-h2);
    @include rhythm(1, 0, 0, 0, $fs-h1);
	@include trailer;
}

h2.entry-title, h2.comments-title, .entry-header h2, h3#reply-title {
	@extend h4;
}

dl, ul, ol {
  margin-bottom: rhythm(3);
}

blockquote {
  @include leading-border(2px, .5);
  @include trailing-border(2px, .5);
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: $function-color-dark;
    content: open-quote;
    @include adjust-font-size-to($fs-h1);
  }
  p {
    display: inline;
  }
}

#sidebar {
  h3 {
    @include adjust-font-size-to(16px);
  }
  h4 {
    @include adjust-font-size-to(13px);
  }
  li {
      @include rhythm(0, 0, 0, 0, 16px);
	  a {
	      @include adjust-font-size-to(16px);
	      @include rhythm(0, 0, 0, 0, 16px);
	  }
  }
}

#main {
  ul {
    list-style: inside disc;
  }
}

ol {
  list-style: inside decimal;
}
