.sans-font {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.serif-font {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.fixed-font {
  font-family: "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", monospace;
}

.heading-font {
  @extend .sans-font;
  font-style: normal;
  font-weight: normal;
}

.h1-font {
  @extend .heading-font;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
  font-size: 16px;
  @extend .sans-font;
  line-height: 1.45em;
}

p {
  padding-bottom: 1em;
}

#{headings(2, 6)} {
  @extend .heading-font;
  margin-bottom: 0.1em;
  line-height: 1.2em;
}

h6 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

h2 {
  font-size: 3em;
}

h1 {
  font-size: 4.8em;
  margin-bottom: 0;
}

h1.entry-title, .author-description h2 {
	@extend h3;
	text-align: left;
}

h2.entry-title, h2.comments-title, .entry-header h2 {
	@extend h4;
}

p, ul, ol {
  padding-bottom: 1.1em;
}

blockquote {
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
  }
}

#sidebar {
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.3em;
  }
}

#main {
  ul {
    list-style: inside disc;
  }
}

ol {
  list-style: inside decimal;
}
