.sans-font {
  font-family: $sans-serif;
}

.serif-font {
  font-family: $serif;
}

.fixed-font {
  font-family: $monospace;
}

.heading-font {
  @extend .sans-font;
  font-style: normal;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

// Establish Vertical rhythm.
@include establish-baseline;

html {
  // Override the default line height to allow for smaller baseline increments.
  @include adjust-leading-to(2);
}

body {
  @extend .sans-font;
}

p {
  @include adjust-font-size-to(18px);
  &:first-child {
    @include leader;
  }
  @include trailer;
}

#{headings(1, 6)} {
  @extend .heading-font;
  @include rhythm(0, 0, 1, 0);
}

h6 {
  @include adjust-font-size-to($fs-h6);
  letter-spacing: .03em;
  text-transform: uppercase;
}

h5 {
  @include adjust-font-size-to($fs-h5);
}

h4, .author-description h2, h2.comments-title, .entry-header h2, h3#reply-title {
  @include adjust-font-size-to($fs-h4);
}

h3 {
  @include adjust-font-size-to($fs-h3);
}

h2 {
  @include adjust-font-size-to($fs-h2);
}

.entry-title {
  @include adjust-font-size-to($fs-h1);
}

h1.archive-title {
  @include adjust-font-size-to($fs-h1);
  font-weight: 400;
}

dl, ul, ol {
  @include trailer;
}

blockquote {
  @include apply-side-rhythm-border(left, 2px, 1);
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: $function-color-dark;
    content: open-quote;
    @include adjust-font-size-to($fs-h1);
  }
  p {
    display: inline;
    cite {
      @include adjust-font-size-to(13px);
    }
  }
}

.nav-menu {
  li {
    a {
      @include adjust-font-size-to(18px);
    }
  }
}

.secondary {
  .widget-container {
    h3 {
      @include adjust-font-size-to(24px);
      @include leader;
    }
    h4 {
      @include adjust-font-size-to(22px);
    }
    a {
      @include adjust-font-size-to(16px);
    }
    @include trailer(2);
  }
}

.main {
  ul {
    list-style: inside disc;
  }
}

ol {
  list-style: inside decimal;
}
